header { font-family: Century Gothic, Georgia, Times, serif;
	     text-align: left;
         color: #59262D;
         border-bottom: thick dotted #59262D; }

nav {  text-align: left;
	   padding: 10px; }

footer { padding: 10px;
		 font-size: .70em;
		 font-style: Century Gothic;
		 text-align: center;
	     background-color: #FFFFFF;
         border-top: thick double #59262D; }

#paper { padding-top: 50px; }

#wrapper { background-color: #FFFFFF;
		   width: 80%;
		   min-width: 700px;
		   max-width: 1024px;
		   box-shadow: 2px 2px 2px 2px #59262D;
	       margin-right: auto;
           margin-left: auto; }
p:first-letter {
	font-family: Century Gothic, Georgia, Times, serif;
	font-size: 24px;
	color: #66CCFF; }

body {  font-family: Century Gothic, Georgia, Times, serif;
	    color: #000000; }
main { padding: 20px 20px 20px 20px; }

td { text-align: center; }

.friend {font-size: 25px;
color: #59262D;}
